@font-face {
  font-family: "Gowun Dodum";
  src: url("assets/GowunDodum.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body,
button {
  font-family: "Gowun Dodum", sans-serif;
}

body {
  letter-spacing: -0.025em;
}

.logo,
.footer-logo,
.manifesto p,
.shop-head h2,
.packaging h2 {
  letter-spacing: 0.035em;
}
